.access {
    height: 100%;
}

.access--row {
    position: relative;
    height: calc(100vh - 97px);
}

.access--col {
    display: flex;
    width: 100%;
}

.access--btn {
    padding-top: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;

    border-top: 1px solid lightgrey;
}